<div class="module module-steamAchievements">
	<h1>Steam Achievements</h1>
	<p><b>Game count:</b> <span id="module-steamAchievements-gameCount">?</span></p>
	<p><b>Achievements unlocked:</b> <span id="module-steamAchievements-achievementsCount">?</span></p>
	<!--<table id="module-steamAchievements-table">
		<tr><th>Total average</th><th>Average of game averages</th></tr>
		<tr><td>??%</td><td>??%</td></tr>
		<tr><td>??%</td><td>??%</td></tr>
		<tr><td>??%</td><td>??%</td></tr>
	</table>-->
</div>
<script type="text/javascript" src="../js/main.js"></script>